.article{
  >div{
    padding: 0;
  }
  .articleImage{
    background-size:cover;
    background-repeat:no-repeat;
    position: relative;
    padding-bottom:100%;
    >div{
      @include circle(20%);
      background-color: $mainColor;
      position: absolute;
      top: 6.25%;
      left: 6.25%;
      color: #fff;
      font-size: 15px;
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
      div {
        @include fullyCentered;
        span {
          font-size: 30px;
          display: block;
        }
      }
      @media #{$md-screen}{
        div{
          font-size: 12px;
          span{
            font-size: 15px;
          }
        }
      }
    }
  }
  $images:articleOne articleTwo articleThree;

  @each $image in $images{
    .#{$image}{background-image: url("../images/#{$image}.jpg")}
  }

  .articleContent{
    padding: 0 0 0 15px;
    h2{
      color: $mainColor;
      font-size: 15px;
      font-weight: bold;
      span{
        display: block;
        color: #000;
        font-size: 21px;
      }
    }
    h3{
      font-size: 15px;
      font-weight: bold;
      span{
        color: lighten($cartPriceCol, 8);
      }
    }
    p{
      color:lighten($cartPriceCol, 8);
    }
    ul{
      li{
        display: inline-block;
        font-weight: bold;
        margin-right: 15px;
      }
    }
  }
  @media #{$sm-screen}{
    .articleContent{
      padding: 0 15px;
    }
  }
}
.comments{
  h2{
    font-size: 25px;
    font-weight: bold;
    border-bottom: 1px solid lighten($cartPriceCol, 8);
    padding: 0 0 25px 0;
  }
  .comment{
    width: 50%;
    h3{
      font-size: 20px;
      font-weight: bold;
      display: inline-block;
    }
    span{
      float:right;
      padding: 20px 0 0 0;
      color: $mainColor;
      font-size: 15px;
      text-transform: uppercase;
    }
    p{
      font-size: 12px;
      color: lighten($cartPriceCol, 8);;
    }
  }
  @media #{$md-screen}{
    h2{
      padding: 15px;
    }
    .comment{
      width: 75%;
      padding: 15px;
    }
  }
  @media #{$xs-screen}{
    .comment{
      width: 100%;
    }
  }
}
.addComment{
  width: 50%;
  color:$cartPriceCol;
  input{
    display: inline-block;
    width: 50%;
    margin: 0 -1px;
    height: 38px;
    line-height: 38px;
    padding: 0 0 0 10px;
  }
  textarea{
    min-width: 100%;
    max-width: 100%;
    max-height: 90px;
    margin: 15px 0;
    padding: 10px;
  }
  button{
    width: 130px;
    height: 30px;
    border: none;
    background-color: #000;
    color: #fff;
    float: right;
    @include transition(0.3s);
    &:hover{
      width: 120px;
      @include border-radius(10px);
    }
  }
}
@media #{$md-screen}{
  .addComment{
    padding:0 15px;
    width: 75%;
  }
}
@media #{$sm-screen}{
  .addComment{
    width: 100%;
    button{
      float: none;
      margin: 0 auto;
    }
  }
}