*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style: none;
}
a,
a:hover,
a:visited,
a:active,
a:focus
a:visited{
  color: inherit;
  text-decoration: none;
}
h1{
  font-size: 70px;
}
@media (max-width: 1200px) {
  h1{
    font-size: 60px;
  }
}
@media (max-width: 768px) {
  h1{
    font-size: 25px;
  }
}

//****HELPERS****
.mask{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: #000;
  @include opacity(0.3);
}
.myBtn{
  display: block;
  width: 211px;
  height: 56px;
  line-height: 56px;
  background-color: $mainColor;
  margin: 0 auto;
  position: relative;
  z-index: 999;
  color: #fff;
  text-align: center;
  font-size: 15px;
  @include transition(0.3s);
  cursor: pointer;
  &:hover{
    width: 200px;
    @include border-radius(10px);
  }
  &:visited,
  &:focus{
    color: #fff;
  }
}
.headerBtnClicked{
  display:none;
  position: absolute;
  width: 265px;
  top: 60px;
  background-color: #fff;
  z-index: 9999;
  border: 1px solid $productNavCol;
  padding: 18px;
}
.headerBtnClicked::before{
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: #fff;
  top: -5px;
  left: 217px;
  z-index: 999;
  @include transform(rotate(45deg));
  border-top: 1px solid $productNavCol;
  border-left: 1px solid $productNavCol;
}
.headerBtnClicked li:hover{
    border-bottom: 1px solid $productNavCol;
}
@media #{$md-screen}{
  .headerBtnClicked::before{
    display: none;
  }
}


//*************** Slick Slider Styling
ul.slick-dots{
  position: absolute;
  bottom: 70px;
  li{
    display: inline-block;
    width: 32px;
    height: 2px;
    background-color: $productNavCol;
    button{
      display: none;
    }
  }
  li.slick-active{
    background-color: $mainColor;
  }
}
.sliderArrow{
  color: $cartPriceCol;
  font-size: 45px;
  position: absolute;
  z-index: 9;
  top: 50%;
  @include transform(translateY(-50%));
}
.arrowLeft{
  left: 20px;
}
.arrowRight{
  right: 20px;
}