.mainSlider{
  color: #fff;
  text-align: center;
  margin: 0;
  position: relative;
  h1{
    margin: 112px 0 40px 0;
    font-size: 70px;
    position: relative;
    z-index: 999;
  }
  p{
    width: 80%;
    margin: 0 auto 29px auto;
    position: relative;
    z-index: 999;
  }
  $images: (imageOne,imageTwo,imageThree);

  @each $image in $images{
    .#{$image}{background-image: url("../images/#{$image}.jpg")}
  }
  .sliderImg{
    height: 435px;
    background-position: center;
    background-size:cover;
  }
  ul.slick-dots{
    bottom: 25px;
  }
  @media (max-width: 1200px) {
    ul.slick-dots{
      bottom: 5px;
    }
  }
  @media (max-width: 768px) {
    ul.slick-dots{
      bottom: 0;
    }
  }
}
@media (max-width: 992px) {
  .mainSlider{
    h1{
      font-size: 60px;
      margin: 40px 0;
    }
  }
}
@media (max-width: 768px) {
  .mainSlider{
    h1{
      font-size: 25px;
      margin: 40px 0;
    }
  }
}