

//colors
$mainColor:#5ec57e;
$footerBg:#1a1a1a;
$productNavCol:#ececec;
$cartPriceCol:#a1a1a1;
$cartRemoveCol:#ec5c5c;

//element highs

$productElement:500px;

// breakpoints

$lg-screen:"(max-width: 1200px)";
$md-screen:"(max-width: 992px)";
$sm-screen:"(max-width: 768px)";
$xs-screen:"(max-width: 400px)";